@mixin sans-serif {
  font-family: 'Open Sans', sans-serif;
}

@mixin mono {
  font-family: 'Droid Sans Mono', monospace;
}

@mixin serif {
  font-family: 'Arbutus Slab', serif;
}

body {
  @include sans-serif;
  font-size: 14px;

  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  @include serif;
  font-weight: normal;
}

#bg {
  z-index: 1;
}

.content {
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;

  position: relative;
  display: inline-block;
  z-index: 2;
  margin-top: 5em;
  padding: 1em 1em 1em .5em;
  background: rgba(0, 0, 0, 0.8);
  color: #ddd;
}

ul {
  list-style-type: lower-greek;
  line-height: 2em;
}

a:link, a:visited {
  -webkit-transition-property: color, border, background;
  -webkit-transition-duration: 0.2s;
  -moz-transition-property: color, border, background;
  -moz-transition-duration: 0.2s;
  -o-transition-property: color, border, background;
  -o-transition-duration: 0.2s;
  transition-property: color, border, background;
  transition-duration: 0.2s;
  color: #D1D6BE;
  text-decoration: none;
  border-bottom: 1px dashed #53554c;
}
a:hover, a:active {
  color: #8e9f97;
  border-color: #8e9f97;
}

p {
  margin: 15px 0;
}
