body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arbutus Slab', serif;
  font-weight: normal; }

#bg {
  z-index: 1; }

#content {
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
  margin: 0;
  padding: 1px 15px;
  width: 400px;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  color: #ddd;
  text-align: justify; }

#logo {
  display: block;
  width: 500px;
  margin: 0 auto; }

a:link, a:visited {
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-property: color;
  -moz-transition-duration: 0.5s;
  -o-transition-property: color;
  -o-transition-duration: 0.5s;
  transition-property: color;
  transition-duration: 0.5s;
  color: #F0D878;
  text-decoration: none; }

a:hover, a:active {
  color: #E73525; }

p {
  margin: 15px 0; }
