/* --- html5doctor.com Reset Stylesheet v1.4.1, 2010-03-01
   --- Author: Richard Clark - http://richclarkdesign.com
--------------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent }

body {
  line-height: 1em }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block }

nav ul { list-style: none }

blockquote, q { quotes: none }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none }

a {
    margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent }
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none }
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold }
del { text-decoration: line-through }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help }

table {
  border-collapse: collapse;
  border-spacing: 0 }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0 }

input, select { vertical-align: middle }

p, ul { margin: 1.5em 0 }
img { margin: 0;padding: 0;max-width: 740px }

/* --- Content styling
--------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sorts Mill Goudy', Georgia, 'DejaVu Serif', 'Bitstream Vera Serif', serif;
  font-weight: normal }

h1 { margin: 0.5em 0;font-size: 3.5em }
h2, article h1, section h1 {
   margin: 0.75em 0;
   font-size: 2.5em;
   line-height: 1.2em }
h3, article h2, section h2 {
  margin: 1em 0;
  font-size: 1.8em;
  line-height: 1em }
h4, article h3, section h3 {
  margin: 1.25em 0;
  font-size: 1.4em;
  line-height: 1.25 }
h5 { margin: 1.5em 0;font-size: 1.2em; }
h6 { font-size: 1.2em }

a:link, a:visited { color: #333  }
a:hover, a:active { color: #c00  }
a img { border: 4px solid #ddd }
a:hover img { border-color: #C4D7FF }

a.t-link {
  text-decoration: none }
a.h-link {
  visibility: hidden;
  color: #c00;
  text-decoration: none;
  font-size: 0.58em }

h1:hover a.h-link, h2:hover a.h-link, h3:hover a.h-link,
h4:hover a.h-link, h5:hover a.h-link, h6:hover a.h-link {
  visibility: visible }

#main-content p, #main-content ul, #main-content ol {
  width: 550px }
ul, ol {
  margin:0 0.5em 1.5em;
  padding-left: 2.5em }
li ul, li ol {
  margin: 0;
  padding-left: 1.5em }

table, th, td {
  border-color: #bbb;
  border-style: solid }
table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 0 0 1px 1px }
th, td {
  padding: 0.3em 1em;
  border-width: 1px;
  border-left-color: #f1f1f1;
  text-align: left }
th {
  background: #eee;
  border-bottom-color: #ddd;
  font-weight: bold }
td {
  border-bottom-color: #efefef;
  font-weight: normal }

code {
  padding: 1px 3px;
  background: #eee;
  color: #555 }
pre {
  margin: 1.5em 0 1.5em;
  padding: 0.5em 0 0.5em 1.5em;
  color: #222 }
pre, code {
  font-family: 'DejaVu Sans Mono', Consolas, Inconsolata, 'Lucida Console', monospace }
pre code {
  display: block;
  padding: 0 0 0.2em;
  overflow-x: auto;
  white-space: pre;
  background: inherit;
  color: inherit }

.gist pre {
  color: #000;
  font-size: 0.8em }

blockquote {
  margin: 0 1em 0 2em;
  padding-left: 1.1em;
  font-style: italic;
  font-size: 0.9em;
  color: #555;
  border-left: 1px solid #ddd;
  font-family: 'DejaVu Serif', 'Bitstream Vera Serif', serif }

.warning-bar {
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 1em;
  background: #E85163 }

ul.green-list {
  background: #9DFF74;
  margin: 1.8em 0;
  padding: 0.2em 1em 0;
  border: 1px solid #6BFF2D;
  color: #000;
  font-size: 0.9em;
  list-style: none }
ul.green-list li {
  margin: 0.4em 0 }
ul.green-list code {
  background: #84F254;
  color: #000 }
ul.green-list a { color: #000 }

.tag-list a {
  padding: 2px 4px;
  background: #222;
  text-decoration: none;
  color: #fff;
  font-size: .8em;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px  }

a.nodec { text-decoration: none }

/* --- Blog posts --- */
article header p {
  margin: -2em 0 -0.5em;
  font-size: 0.8em;
  color: #777 }

/* --- Nice link and project list --- */
#previous-posts { margin: 4em 0 }

.nice-project-list ul, .nice-link-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100% !important }
.nice-project-list li, .nice-link-list li {
  margin: 0.8em 0 }
.nice-project-list .status,
.nice-project-list .head a:link, .nice-project-list .head a:visited,
.nice-link-list li a:link, .nice-link-list li a:visited {
  padding: 0.4em 0.8em;
  text-decoration: none;
  color: #555;
  background: #ddd;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px }
.nice-project-list .head a:hover, .nice-project-list .head a:active,
.nice-link-list li a:hover, .nice-link-list li a:active {
  color: #222;
  background: #ccc }
.nice-link-list time {
  font-size: 0.8em;
  color: #666;
  font-family: 'DejaVu Sans Mono', Consolas, Inconsolata, 'Lucida Console', monospace }

.link-list-extra li span {
  font-size: 0.7em;
  color: #888 }

.nice-project-list li {
  margin: 2em 0 }

.nice-project-list .head {
  margin-bottom: .7em }
.nice-project-list .desc {
  font-size: .8em;
  margin-top: .7em }

.nice-project-list .head a:link, .nice-project-list .head a:visited {
  background: #ebebeb }
.nice-project-list .head a.title {
  background: #ddd }

.nice-project-list .status {
  color: #fff }
.nice-project-list .status.active {
  background: #75C971 }
.nice-project-list .status.paused {
  background: #518ae8 }
.nice-project-list .status.dropped {
  background: #E85163 }

/* --- Share post --- */
#share {
  background: #eee;
  border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  -webkit-border-radius: 2px !important }
#share ul {
  list-style: none;
  padding: 1em;
  margin: 0 }
#share li {
  display: inline;
  margin-right: 0.1em }
#share a {
  text-indent: -9999em;
  opacity: 1.0;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(social_icons_32x32.png);
  background-repeat: no-repeat }
#share-delicious { background-position: 0 -32px }
#share-digg { background-position: 0 -64px }
#share-twitter { background-position: 0 -160px }
#share-stumble { background-position: 0 -128px }
#share-reddit { background-position: 0 -96px }
#share-addthis { background-position: 0 0 }

/* --- Tagcloud --- */
#tagcloud {
  text-align: center;
  word-spacing: .4em  }
#tagcloud a { text-decoration: none }

/* --- Body and layout elements
--------------------------------------------------------------------*/

html, body { height: 100% }
body {
  color: #444;
  font-size: 1em;
  font-family: 'DejaVu Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  line-height: 1.6em }

#wrapper {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background: url(./black-10px.png) repeat-x 0 100% }

#main-header, #main-content, #main-footer {
  margin: 0 auto;
  width: 750px }

/* --- Main header and navigation
--------------------------------------------------------------------*/

/* #main-header { outline: 1px dotted blue }
#main-header * { outline: 1px dotted red } */

#main-header {
  padding-top: 2em;
  overflow: auto }

#main-header h1 {
  margin: 0;
  padding: 0.25em 0.3em 0.2em;
  line-height: 1em;
  color: #eee;
  background: #222;
  font-size: 2.2em;
  font-family: 'DejaVu Sans Mono', Consolas, Inconsolata, 'Lucida Console', monospace;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px }

#main-header h1, #main-header nav {
  float: left }
#main-header nav {
  margin-left: 2em;
  line-height: 3.35em }
#main-header nav ul {
  margin: 0;
  padding: 0 }
#main-header nav li {
  display: inline;
  margin-right: 0.8em }

#main-header nav a:link, #main-header nav a:visited {
  color: #666;
  text-decoration: none;
  border-bottom: 1px solid transparent }
#main-header nav a:hover, #main-header nav a:active {
  color: #333;
  border-color: #333 }

/* --- Main footer
--------------------------------------------------------------------*/

#main-footer {
  margin: 4em auto 0;
  padding-bottom: 1.2em }
#main-footer p { margin: 0.5em 0 }
#main-footer small {
  padding: 0.3em 0.6em 0.3em;
  font-size: 0.9em;
  color: #888;
  background: #ddd;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px }
#main-footer a {
  color: #777 }

/* --- Transitions
--------------------------------------------------------------------*/

input, input:hover, input:active,
a:link, a:visited, a:hover, a:active,
a:link img, a:visited img, a:hover img, a:active img {
  transition-property: color, border-color, background;
  transition-duration: 300ms;
  transition-timing-function: ease;

  -webkit-transition-property: color, border-color, background;
  -webkit-transition-duration: 300ms;
  -webkit-transition-timing-function: ease;

  -o-transition-property: color, border-color, background;
  -o-transition-duration: 300ms;
  -o-transition-timing-function: ease;

  -moz-transition-property: color, border-color, background;
  -moz-transition-duration: 300ms;
  -moz-transition-timing-function: ease }

/* --- Jsimgbox2
--------------------------------------------------------------------*/

#js2-overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: 100;
  background: url(./70tbg.png);
  display: none }
#js2-box {
  margin: 0 auto;
  padding: 2em;
  max-width: 100%;
  text-align: center;
  cursor: pointer }
#js2-box img {
  display: none;
  margin: 0 auto;
  max-width: 100%;
  border: 2px solid #fff }
#js2-box span {
  padding: 1em 1.5em;
  background: #fff }

/* --- Disqus
--------------------------------------------------------------------*/

.dsq-login-buttons,
.dsq-comment-footer-reply-tab, .dsq-post-area {
  background: none !important }
.dsq-comment-footer-reply-tab, #dsq-comments .dsq-post-area {
  background-color: #eee !important }
.dsq-comment-footer-reply-tab {
  color: #222 !important;
  text-shadow: none !important }
#dsq-comments .dsq-post-area {
  margin-right: 4px !important }
#dsq-comments .dsq-post-area h3 {
  margin: 0 0 0.8em !important;
  font-size: 1.5em !important }
.dsq-login-buttons {
  margin: 0 0 1.1em !important;
  padding: 0 !important }
#dsq-new-post h3, .dsq-autheneticate-copy {
  display: none !important }
#dsq-new-post {
  background: #eee !important;
  padding: 1em !important;
  border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  -webkit-border-radius: 2px !important }

#dsq-comments a, #dsq-comments a:link, #dsq-comments a:hover {
  -webkit-transition: none;
  -o-transition: none;
  -moz-transition: none }

/* --- Pygments (pastie theme)
--------------------------------------------------------------------*/

.hll { background-color: #ffffcc }
.c { color: #666 } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { color: #008800; font-weight: bold } /* Keyword */
.cm { color: #888888 } /* Comment.Multiline */
.cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
.c1 { color: #888888 } /* Comment.Single */
.cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #303030 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #606060 } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008800 } /* Keyword.Pseudo */
.kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.kt { color: #888888; font-weight: bold } /* Keyword.Type */
.m { color: #0000DD; font-weight: bold } /* Literal.Number */
.s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
.na { color: #336699 } /* Name.Attribute */
.nb { color: #003388 } /* Name.Builtin */
.nc { color: #bb0066; font-weight: bold } /* Name.Class */
.no { color: #003366; font-weight: bold } /* Name.Constant */
.nd { color: #555555 } /* Name.Decorator */
.ne { color: #bb0066; font-weight: bold } /* Name.Exception */
.nf { color: #0066bb; font-weight: bold } /* Name.Function */
.nl { color: #336699; font-style: italic } /* Name.Label */
.nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
.py { color: #336699; font-weight: bold } /* Name.Property */
.nt { color: #bb0066; font-weight: bold } /* Name.Tag */
.nv { color: #336699 } /* Name.Variable */
.ow { color: #008800 } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
.mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
.mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
.sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
.sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
.sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
.s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
.se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
.sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
.si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
.sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
.sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
.s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
.ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
.bp { color: #003388 } /* Name.Builtin.Pseudo */
.vc { color: #336699 } /* Name.Variable.Class */
.vg { color: #dd7700 } /* Name.Variable.Global */
.vi { color: #3333bb } /* Name.Variable.Instance */
.il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
